body{
	background: #fff;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
}
a, a:link, a:visited{
	text-decoration: none;
	outline: none;
}
.green{
	color: #509743;
}
.white{
	color: #fff;
}
#header-wrap
{
	width: 960px;
	margin: 0 auto;
	padding: 0px;
}
header
{
	position: relative;
}
.logoName
{
	position: absolute;
	top: 27px;
    left: 95px;
    font-size: 35px;
}
#call
{
	float: right;
	display: inline-block;
}
#call h3
{
	font-size: 25px;
	font-weight: 100;
	color: #333333;
	margin-bottom: 0px;
}
#call h4
{
	font-size: 18px;
	margin: 0;
    font-weight: 100;
    float: right;
}
nav{
	width: 960px;
	height: 50px;
    margin-top: 20px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	/* Safari 4+, Chrome 1-9 */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5fae53), to(#3b7c33));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -webkit-linear-gradient(top, #5fae53, #3b7c33);
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(top, #5fae53, #3b7c33);
	/* IE 10+ */
	background-image: -ms-linear-gradient(top, #5fae53, #3b7c33);
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(top, #5fae53, #3b7c33);
	border: 1px solid #336c2b;
}
nav ul
{
	list-style-type: none;
	padding: 0px;
	margin: 0px
}
nav ul li
{
	float: left;
	display: inline-block;
    border-right: 1px solid #336c2b;
	border-left: 1px solid #78c368;
	text-align: center;
}
nav ul li a{
	width: auto;
    height: 50px;
    display: block;
    padding: 0px 30px;
    color: white;
    line-height: 50px;
}
nav ul li a:hover
{
	/*background-color: white;*/
	color: black;
	background: #5fae53;
}
nav ul li.home
{
	border-left: none;
	width: 60px;
	text-indent: -9999px;
	background: url(images/home.png) no-repeat 50% 50%;
}
nav ul li.last{
	border: none;
	float: right;
	margin-right: 20px;
}
nav ul li.home a:hover{
	-webkit-border-top-left-radius: 30px;
	-webkit-border-bottom-left-radius: 30px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	background: #5fae53 url(images/home.png) no-repeat 50% 50%;
}
nav ul li div input[type=text]{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	background: #4b9241;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #5ead52;
	border-top: 1px solid #346d2c;
	color: #fff;
	text-shadow: 0 1px 0 #387031;
	padding: 5px 0 5px 20px;
	width: 200px;
}
nav ul li div input[type=text]:focus{
	outline: none;
}
/* TO STYLE PLACE HOLDER */
::-webkit-input-placeholder {
   color: #fff;
}
:-moz-placeholder {
   color: #fff;
}
nav ul li div input[type=submit]{
	background: url(images/search.png) no-repeat 50% 50%;
	border: none;
	text-indent: -999999px;
	margin-left: 15px;
	height: 50px;
	width: 16px;
	outline: none;
	cursor: pointer;
}

#container{
	width: 940px;
	margin: 0 auto;
}
/* SLIDES */
#slides{
	position: relative;
	margin-top: 40px;
    display: none;
}
.slide-right{
	position: absolute;
	top: 0;
	/*left: 385px;*/
	right: 5%;
}

.slides_container
{
	left: 0px;
}
#slides a:link, #slides a:visited {
    color: #333;
}

/*a.slidesjs-previous
{
:before {
   font-family: FontAwesome;
   content:  "\f053";
   display: inline-block;
   padding-right: 3px;
   vertical-align: middle;
}

a.slidesjs-next:before {
   font-family: FontAwesome;
   content:  "\f054";
   display: inline-block;
   padding-right: 3px;
   vertical-align: middle;
}*/

a.slidesjs-previous
{
    width: 16px;
    height: 22px;
    background: url(images/images.png) center center no-repeat;
    background-position: 0 0;
    float: left;
    text-indent: -9999px;
}
a.slidesjs-previous:hover
{
    width: 16px;
    height: 22px;
    background: url(images/images_hover.png) center center no-repeat;
    background-position: 0 0;
    float: left;
    text-indent: -9999px;
}

a.slidesjs-next
{
    width: 16px;
    height: 22px;
    background: url(images/images.png) center center no-repeat;
    background-position: -16px 0;
    float: left;
    text-indent: -9999px;
}
a.slidesjs-next:hover
{
    width: 16px;
    height: 22px;
    background: url(images/images_hover.png) center center no-repeat;
    background-position: -16px 0;
    float: left;
    text-indent: -9999px;
}
.slide-right h1
{
	font-weight: 400;
    background: url(images/slide-heading.png) no-repeat;
    width: 445px;
    height: 68px;
    color: #fff;
    background-size: contain;
    font-size: 21px;
    padding-left: 40px;
    padding-top: 10px;
    margin: 10px 0px;
}
.slide-right p
{
	margin: 0;
    font-size: 13px;
    font-style: italic;
    width: 380px;
    float: right;
}
.slide-right a.readmore
{
	font-variant: small-caps;
    font-weight: 800;
    position: absolute;
    top: 160px;
    left: 105px;
}
.slidesjs-pagination
{
	display: none;
}
.slidesjs-control
{
	margin: 0 auto;
}
#service
{
	display: block;
	background:  url(images/service-bg.jpg) no-repeat;
	height: 253px;
	padding-top: 25px;

}
#web , #vector
{
	width: 46%;
	display: inline-block;
	float: left;
	padding-left: 37px;
}
#web img, #vector img
{
	float: right;
	margin-right: 45px;
}
#web h3, #vector h3
{
	font-size: 24px;
	font-family: Helvetica, Arial, sans-serif;
	color: #333333;
}
#web p, #vector p
{
	width: 260px;
	margin-bottom: 20px;
}
#web a.readmore, #vector a.readmore
{
	font-variant: small-caps;
    font-weight: 800;
    color: #6ca562;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#media1 > div
{
	width: 33.33%;
	display: inline-block;
	float: left;
}
#video
{
	background:  url(images/video-bg.png) no-repeat;
	display: block;
	height: 225px;
}
#video h4
{
    text-align: center;
    color: white;
    font-weight: 100;
    margin-bottom: 0px;
}
#video h5
{
	margin-top: 0px;
    text-align: center;
    font-weight: 100;
    color: white;
}
#media1 a.play img
{
	float: right;
}
#twitter
{
	width: 30% !important;
	padding: 0 0 0 31px;
	height: 190px;
	background:  url(images/twitter-bg.png) no-repeat;
	display: block;
    background-position: bottom;
}
#twitter p
{
	width: 245px;
    float: right;
    font-size: 12px;
    line-height: 15px;
    text-align: left;
}
#twitter p a.t-link{ color: #6767c9; text-decoration: none; }
#twitter  p a.t-link:hover{ text-decoration: underline; }
#twitter p a
{
	font-size: 11px;
	font-style: italic;
}
#twitter p.time
{
    font-size: 11px;
	font-style: italic;
	color: #999999;
    margin-top: 0px;
}
#facebook h4
{
    font-weight: 100;
    margin-bottom: 0px;
}
#facebook
{
	width: 30% !important;
	padding: 0 0 0 31px;
}

#widget-wrap
{
	width: 100%;
	margin-top: 40px;
	display: block;
	background:  url(images/clientbackground.png) repeat-x;
}
#widget
{
    padding: 50px 0px;
	width: 960px;
	margin: 0 auto;
	height: 85%;
}
#widget > div#links
{
	width: 302px;
	display: inline-block;
	float: left;
	height: 100%;
}
#widget > div#blog
{
	width: 290px;
	display: inline-block;
	float: left;
	height: 100%;
	margin-right: 76px;
}
#widget > div#location
{
	width: 292px;
	display: inline-block;
	float: left;
	height: 100%;
}
#links ul
{
	list-style-type: none;
    width: 223px;
}
#widget h4
{
	color: white;
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}
#links ul li 
{
    background: url(images/links.png) no-repeat;
    background-position: 10px;
    padding-left: 20px
}
#links ul li a{
	color: #cccccc;
	font-size: 13px;
	padding: 6px 0;
	display: block;
}
#links ul li:hover
{
	background-color: #292929;
}
#widget h4.footer-header
{
	background: url(images/headingback.png) no-repeat;
    padding: 18px 0px 0px 30px;
    height: 41px;
    display: block;
}
#widget #blog
{
	position: relative;
}
#widget img.blog {
    position: absolute;
    top: 48px;
    left: -15px;
}
#widget #blog p {
    float: right;
    width: 180px;
    color: #e4e4e4;
}
#widget #blog p.date
{
	margin-top: 0px;
}
#widget #blog p.readp
{
    float: right;
    background: url(images/more.png) no-repeat;
    background-position: 1px;
    width: 180px;
    margin-top: 0px;
    color: #e4e4e4;
}
#widget #blog p.readp a
{
	color: #e4e4e4;
    font-style: italic;
    padding-left: 20px;
}
#widget #location
{
	position: relative;
}
#widget img.map
{
	position: absolute;
	top:48px;
}
#widget #location .imghack
{
	height: 105px;
}
#widget #location p.address
{
	float: right;
    width: 180px;
    color: #e4e4e4;
    text-align: end;
}
#client-wrap
{
	width: 100%;
	background-color: #fff;
}
#client-wrap #client
{
	width: 960px;
	margin: 0px auto;
}
#client-wrap #client ul
{
	list-style-type: none;
    margin: 0px;
    padding: 20px 0px;
}
#client-wrap #client ul li
{
	display: inline-block;
    width: 19.6%;
    text-align: center;
}
footer.group
{
	width: 960px;
	margin:0px auto;
	position: relative;
}
#footer-left
{
	display: inline-block;
	float: left;
	line-height: 25px;
}
#footer-right
{
	display: inline-block;
	float: right;
}
#footer-right ul
{
	list-style-type: none;
}
#footer-right li
{
	display: inline-block;
	float: left;
	margin-right: 32px;
}
#footer-right li a
{
	color: #8f8f8f;
	text-decoration: none;
}
hr
{
	margin: 0px 0px 30px 0px;
    border: 0;
    border-top: 1px solid #c8c8c8;
}
.group .back-top
{
	position: absolute;
    right: 50%;
    top: 83px;
}
#footer-right li a:hover
{
	color: #000;
}
#widget #blog p.readp a:hover
{
	color: #4f9542;
}
#web a.readmore:hover, #vector a.readmore:hover
{
	color: #466e3f;
}
.green:hover
{
	color: #9edb93;
}
.logo
{
	display: inline-block;
}
/*Media Query for Mobile*/
@media only screen and (min-width: 400px) and (max-width: 524px)
{
#header-wrap {
    width: 100%;
}
#call
{
	display: none;
}
.logo
{
	width: 100%;
	text-align: center;
	padding: 25px 0px;
}
nav
{
	width: 100%;
	height: auto;
}
nav ul li
{
	display: block;
	border: none;
	float: none;
	border-radius: none;
	background-image: none;
	border-bottom: 1px solid #336c2b
}
nav ul li.home
{
	width: auto;
}
nav ul li.last
{
	float: none;
}
nav ul li a
{
    font-size: 20px;
}
nav ul li div input[type=text]
{
	padding: 10px 0 10px 20px;
    width: 280px;
    font-size: 18px;
    height: 20px;
}
#service
{
	background: none;
	height: auto;
    margin: 5px 0px 30px 0px;
	padding: 0px;
}
#service > div
{
	margin: 0 auto;
	display: block;
	float: none;
    overflow: hidden;
}
#web a.readmore, #vector a.readmore 
{
    font-size: 25px;
}
#web p, #vector p {
	font-size: 20px;
	}
#web h3, #vector h3 {
    font-size: 30px;
}
nav ul li.home a:hover
{
	-webkit-border-top-left-radius: 30px;
    /* -webkit-border-bottom-left-radius: 30px; */
    border-top-left-radius: 30px;
    /* border-bottom-left-radius: 30px; */
     border-top-right-radius: 30px;
     -webkit-border-top-right-radius: 30px;
}
#container 
{
    width: 100%;
    }
#slides img
{
	width: 100%;
	height: 100%;
}
.slide-right h1
{
	font-size: 16px;
	width: 307px;
}
.slide-right p
{
    font-size: 13px;
    width: 350px;
}
.slide-right a.readmore
{
    font-size: 20px;
    top: 156px;
    left: 0px;
}
#web, #vector{
	width: 75%;
	padding-left: 0px;
}
#web img, #vector img
{
	margin-right: 0px;
}
#web h3, #vector h3 {
    font-size: 20px;
}
#web p, #vector p {
    font-size: 11px;
    margin-bottom: 0px;
}
#web a.readmore, #vector a.readmore {
    font-size: 15px;
}
#media1 > div
{
	width: 300px !important;
	float: none;
	margin: 0 auto;
	display: block;
	overflow:auto;
}
#facebook
{
	padding: 18px 0 0 31px;
}
#widget-wrap
{
	    width: 100%;
        background: url(images/clientbackground.png) repeat;
}
#web img{
		width: 64px;
		height: 72px;
	}
	#vector img{
		width: 76px;
		height: 69px;
	}
#widget
{
	height: auto;
	width: 100%;
	padding: 20px 0px;
}
#widget > div
{
	width: 67% !important;
	display: block !important;
	height: auto !important;
	margin:0 auto !important;
	float: none !important;
	margin-bottom: 10px !important;
}
#media1
{
	width: 100%;
	margin: 0 auto;
	display: block;;
}
#client-wrap #client
{
	width: 100%;
}
#client-wrap #client ul li
{
	width: 100%;
	margin: 5px 0;
}
footer.group
{
	width: 100%;
}
#footer-left
{
	display: block;
    width: 100%;
    text-align: center;
}
#footer-right ul
{
	margin:0px;
	padding: 0px;
}
.group .back-top
{
	top: 100px;
}
#footer-right li
{
    text-align: center;
    margin: 20px 10px 0 10px;
}
#footer-left
{
	 line-height: 15px;
}
}